* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-h {
  display: flex;
}

.header {}

.footer {}

.forms {
  flex-grow: 1;
}

.content {
  flex-grow: 2;
  justify-items: center;
}

.forms form {
  display: flex;
  flex-direction: column;
  
  
}

.spiels {
  flex-grow: 1;
}