* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-h {
  display: flex;
}

.header {
  display: flex;
}

.footer {
}

.forms {
  display: flex;
  flex-direction: column;
}

.forms form {
  display: flex;
  flex-direction: column;
}

.spiels{
}