* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-size: 1vw;
}
h1 {
  position: sticky;
  top: 1vh;
  font-size: 3vw;
  background-color: white;
}

.App {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-h {
  display: flex;
}

.header {
  background-color: rgb(255, 255, 255);
  height: 7vh;
  display: flex;
  justify-content: space-between;
  border: 0px solid;
  padding: 10px;
  box-shadow: 5px 5px 10px #888888;
  margin-bottom: 15px;
  font-size: 1vw;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  height: 7vh;
  background-color: #262626;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

.footer a:link {
  color: #8e8e8e;
  text-decoration: none;
}

.footer a:visited {
  text-decoration: none;
}

.footer a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  width: 25vw;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.forms form {
  display: flex;
  flex-direction: column;
  font-size: 1.5vh;
  margin-top: 2vh;
}

.forms form input {
  margin: 1vh 0px;
  width: 20vw;
  font-size: 1.5vh;
  height: 3vh;
  padding-left: 1vw;
}
.forms form select {
  margin: 1vh 0px;
  width: 20vw;
  font-size: 1.5vh;
  height: 3vh;
  padding-left: 1vw;
}

.forms form input[type="submit"] {
  text-decoration: none;
  height: 5vh;
  width: 10vw;
  background: rgb(255, 0, 0);
  text-align: center;
  font-size: 110%;
  border-radius: 5px;
  color: #fdfdfd;
  font-weight: bold;
  padding: 5px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 3px;
}

.middle {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 86vh;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  overflow-y: auto;
  width: 50vw;
  justify-content: center;
  font-size: 1.25vw;
  border: 0px solid;
  padding: 0 0 0 0px;
  box-shadow: 0px 0px 10px 1px #888888;
  border-radius: 5px;
  /* box-shadow: #808080; */
  margin: 13px;
  height: 86vh;
  padding: 0px 5vw;
}

.content input {
  margin: 5px;
}

.content p {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.fixed {
  position: fixed;
  top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0px 0;
  width: 50vw;
  padding: 0px 5vw;
}

.subcontent {
  top: 7vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.subcontent input {
  width: 15vw;
  font-size: 1.5vh;
  height: 2vh;
  padding-left: 1vw;
  box-shadow: 5px 5px 15px 0px #888888;
}

.selection button {
  text-decoration: none;
  height: 3vh;
  width: 12vw;
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: 110%;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
  padding: 1px;
  border-color: rgb(255, 255, 255);
  border-style: none;
  margin: 10px;
  box-shadow: 2px 5px 10px -1px #888888;
}

.selection button:hover {
  box-shadow: 0px 6px 3px -3px #888888;
}

.selection button:active {
  box-shadow: 0px 6px 3px -3px #888888;
  font-size: 100%;
}

.circ {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circ input {
  width: 20vw;
  font-size: 1.5vh;
  height: 3vh;
  padding-left: 1vw;
}
.circ button {
  text-decoration: none;
  height: 3vh;
  width: 7vw;
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: 110%;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
  padding: 1px;
  border-color: rgb(255, 255, 255);
  border-style: none;
  margin: 10px;
  box-shadow: 2px 5px 10px -1px #888888;
}

.circ button:hover {
  box-shadow: 0px 6px 3px -3px #888888;
}
.circ button:active {
  box-shadow: 0px 6px 3px -3px #888888;
  font-size: 100%;
}

.content h1 {
  position: absolute;
  top: 15vh;
}

.page button {
  margin: 10px;
  text-decoration: none;
  height: 5vh;
  width: 10vw;
  background: rgb(255, 0, 0);
  text-align: center;
  font-size: 110%;
  border-radius: 5px;
  color: #fdfdfd;
  font-weight: bold;
  padding: 5px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 3px;
}

.page button:hover {
  background: rgb(255, 133, 133);
  /* background-color: rgb(136, 0, 0); */
}

.page button:active {
  background-color: rgb(136, 0, 0);
  /* background: rgb(255, 133, 133); */
}

.page button:disabled {
  background: rgb(164, 164, 164);
}

.page {
  position: relative;
  justify-content: center;
  bottom: 8vh;
  position: absolute;
  /* background-color: #000000bb;
  width: 40vw; */
}

.spiels {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  overflow-y: auto;
  width: 25vw;
  justify-content: center;
}

.spiels li {
  margin: 2vh 0px 2vh 0px;
  font-size: 2vh;
  color: rgb(136, 0, 0);
  width: 17vw;
  height: 3vh;
}

.spiels li:hover {
  /* background-color: rgba(255, 0, 0, 0.335); */
  border-radius: 3px;
  box-shadow: 2px 5px 10px -1px #888888;
}

.spiels a {
  font-size: 2vh;
  text-decoration: none;
  font-weight: bold;
  color: rgb(136, 0, 0);
}

.spiels a:link {
  color: rgb(136, 0, 0);
}

.spiels a:visited {
  color: rgb(136, 0, 0);
}

.spiels a:hover {
  color: rgb(0, 0, 0);
}
.spiels a:active {
  color: rgb(0, 0, 0);
  font-size: 1.95vh;
}
